[submodule "libraries/action-scheduler"]
	path = libraries/action-scheduler
	url = https://github.com/woocommerce/action-scheduler.git
[submodule "includes/wc-checkout-fields"]
	path = includes/wc-checkout-fields
	url = git@bitbucket.org:ilGhera/wc-checkout-fields.git

